@import "tailwindcss";
/* This tells Tailwind to look for the .dark class on <html> or any parent */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Map your shadcn variables to Tailwind's theme */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);


  
  /* Custom */
  --color-duplicate: var(--duplicate-row);
  --color-gog: hsl(var(--brand-gog-text));
  --color-gog-background: hsla(var(--brand-gog-bg));
  --color-gog-border: 1px solid hsla(var(--brand-gog-text) / 0.3);

  --color-steam: var(--brand-steam);
  --color-steam-text: hsl(var(--brand-steam-text));
  --color-steam-background: hsla(var(--brand-steam-bg));
  --color-steam-border: 1px solid hsla(var(--brand-steam-text) / 0.3);
  
  --color-toast-background: var(--toast-bg);

}




/* App.css */
@layer base {
  :root {
    --foreground: #131313;
    --background: #f1f1f1;
    --border: #131313;
    --card: #f9f9f9;
    --muted: #e1e1e1;
    --muted-foreground: #64748b;
    --secondary: #e630309f;
    --secondary-foreground: #0f172a;

    /* Popover (Dropdowns) */
    --popover: #f1f1f1;
    --popover-foreground: #0f172a;
    --accent: #dddddd;
    --accent-foreground: #0f172a;

    /* Custom brand*/
    /** GOG COLOURS */
    --duplicate-row: hsla(0, 100%, 70%, 0.20);
    --brand-gog-bg: 298 47% 37% / 0.20;
    --brand-gog-text: 298 47% 37%;
    /** STEAM COLOURS */
    --brand-steam: #318aea;
    /* --brand-steam-bg: 213 35% 15% / 0.15; OLD */
    --brand-steam-bg: 211 87% 49% / 0.20;
    --brand-steam-text: 213 35% 15%;

    /* Custom toasts */
    --toast-bg: hsla(0, 81%, 43%, 0.867);
  }
  
  .dark {
    --foreground: #d1d1d1;
    --background: #131313;
    --border: #d1d1d1;
    --card: #1c1c1c;
    --muted: #363636;
    --muted-foreground: #a1a1a1;
    --secondary: #e630309f;
    --secondary-foreground: #fafafa;

    /* Popover (Dropdowns) */
    --popover: #131313;
    --popover-foreground: #fafafa;
    --accent: #434343;
    --accent-foreground: #fafafa;
    
    /* Custom brand*/
    /** GOG COLOURS */
    --duplicate-row: hsla(0, 49%, 50%, 0.20);
    --brand-gog-bg: 298 90% 73% / 0.15;
    --brand-gog-text: 298 90% 85%;
    /** STEAM COLOURS */
    --brand-steam: #083566; 
    --brand-steam-bg: 214 95% 68% / 0.15;
    --brand-steam-text: 214 95% 75%;

    /* Custom toasts */
    --toast-bg: hsla(0, 68%, 48%, 0.94);

  }
}

