name: Publish Release

on:
  push:
    tags:
      - 'v*' # (e.g., v0.0.1)

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install
      
      - name: Build and Publish
        run: |
          npm run build
          if [ "$RUNNER_OS" == "Windows" ]; then
            npx electron-builder build --win --publish always
          elif [ "$RUNNER_OS" == "macOS" ]; then
            npx electron-builder build --mac --publish always
          else
            npx electron-builder build --linux --publish always
          fi
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
